.materi
    padding-top: 10px
.material-a
    float: right
    padding-top: 30px
    display: none
    @media (min-width: 600px)
        display: block
    a
        padding-left: 10px
        padding-right: 10px
.banner
    img
        width: 100%
.material-b
    background: #004286
    color: #fff
    line-height: 40px
    // z-index: 100
    // width: 100%
    @media (max-width: 1199px)
        line-height: 24px
        padding-top: 10px
        padding-bottom: 10px
        
    li
        display: inline
        
        a
            padding-left: 2px
            padding-right: 2px
            color: #fff
            &:hover
                color: #ef011c
.material-c
    padding-top: 18px
    padding-bottom: 25px
    background: #f7f7f7
    .material-c-1
        padding-bottom: 10px
        @media (min-width: 1000px)
            text-align: right
            padding-bottom: 0
            border-right: 1px solid #dddddd
        
        .daodu
            font-size: 40px
            font-weight: bold
            color: #cd0a0a
            line-height: 50px
        .intro
            @media (min-width: 1000px) and (max-width: 1199px)
                line-height: 50px
.material-d
    padding-top: 16px
    @media (min-width: 1000px)
        padding-top: 25px
    h1
        span
            color: #cd0a0a
    .gongyi
        padding-top: 15px
        padding-bottom: 10px
    span
        font-weight: bold
    .jieduan
        padding-top: 8px
        padding-bottom: 15px
    .shebei
        .shebei-a
            display: none
        @media (min-width: 450px)
            background: #f1f1f1
            margin-bottom: 12px
            height: 147px
            .shebei-a
                background: #E85005
                color: #ffffff
                width: 10%
                float: left
                text-align: center
                height: 147px
                padding-top: 36px
                display: block
            .shebei-b
                width: 30%
                float: left
                padding-top: 20px
                img
                    margin: 0 auto
                    display: block
                p
                    text-align: center
                    padding-top: 15px
        .shebei-b
            @media (max-width: 449px)
                padding-bottom: 7px
                width: 33.3333%
                float: left
        .shebei-a-1
            display: block
            padding-bottom: 10px
            p
                font-weight: bold
            @media (min-width: 450px)
                display: none
    .material-d-1
        img
            margin: 0 auto
            display: block
            @media (min-width: 1000px) and (max-width: 1199px)
                width: 100%
            @media (max-width: 599px)
                width: 100%
.material-e
    h1
        padding-top: 10px
        padding-bottom: 15px
    h3,h4
        padding-bottom: 6px
        padding-top: 12px
    .case-1,.case-2
        margin-bottom: 20px
        margin-top: 5px
        img
            width: 100%
.material-f
    background: #f1f1f1
    padding-top: 15px
    margin-top: 20px
    padding-bottom: 30px
    h1
        padding-bottom: 15px
        padding-top: 10px
        @media (min-width: 1200px)
            padding-bottom: 30px
    form
        .province,.city
            width: 50%
            float: left
            #province,#city
                width: 90%
            #city
                float: right
        .button
            background: #ef2416
            color: #ffffff
    .pro-line
        h3
            padding-bottom: 20px
        p
            line-height: 34px
.material-g
    padding-top: 20px
    span
        color: #cd0a0a
    h1
        padding-bottom: 15px
    p
        line-height: 34px
.material-r
    padding-top: 20px
    padding-bottom: 10px
    span
        color: #cd0a0a
    h1
        padding-bottom: 15px
    img
        margin: 0 auto
        display: block
        width: 100%
    p
        text-align: center
        padding-top: 5px
        padding-bottom: 10px
footer
    background: #000000
    color: #ffffff
    p
        line-height: 30px
        text-align: center
        padding-top: 10px
        padding-bottom: 10px
.kzha-table 
    td
        border: 1px solid #16dbab
        color: #16dbab
        text-align: center
        height: 36px
    tr
        &:hover
            background: #d8b66e
            td
                color: #000000